<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='CanvasRec.css')}}">
<script src="{{ url_for('static',filename='jquery-3.2.1.min.js')}}" type="text/javascript"></script>

<title>Juego Canvas</title>
</head>

<body>
	<div style="color: #b74c00">
	<h1>Battle Tanks</h1>
	</div>

	<canvas id="canvas" width="1366px" height="768px">Canvas is not supported</canvas>
    <script src="{{ url_for('static',filename='CanvasRec.js')}}" type="text/javascript"></script>
    <p>
<!-- 	<button onclick="automatico(2000)">Partida automatica en servidor</button>
	<button onclick="juego_local()">Jugar Local con teclado o control</button> -->

</body>
</html>
